In [23]:
import pandas as pd
import numpy as np
import os

In [24]:
path = r'/Users/fatemehshahvirdi/Work-Related/Data Analysis/Data Immersion/Achievement 6/Rome & Sydney Analysis/O2 Data'

In [25]:
df_sydney_june = pd.read_csv(os.path.join(path, 'Original', 'Sydney', '6 June', 'listings.csv'))

In [26]:
df_sydney_june.shape

(23451, 18)

In [27]:
df_sydney_june.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,4688422,Rental unit in Manly · ★4.71 · 2 bedrooms · 3 ...,13396297,Anne,NaN,Manly,-33.805600,151.28433,Entire home/apt,300,1,36,2023-01-28,0.35,1,31,13,PID-STRA-26284
1,39681254,Rental unit in Manly · ★5.0 · 1 bedroom · 1 be...,25316226,Joel,NaN,Manly,-33.805120,151.28907,Entire home/apt,110,90,3,2019-12-12,0.07,1,0,0,NaN
2,22314790,Rental unit in Manly · 1 bedroom · 2 beds · 1 ...,48897764,Simon,NaN,Manly,-33.796270,151.28476,Entire home/apt,190,90,1,2018-01-06,0.02,1,0,0,NaN
3,39446599,Guesthouse in Eastwood · 1 bedroom · 1 bed · 1...,152329169,Ebrahim,NaN,Ryde,-33.785970,151.09255,Entire home/apt,70,90,0,NaN,NaN,1,0,0,PID-STRA-26166
4,43629106,Rental unit in Manly · ★5.0 · 2 bedrooms · 4 b...,348372472,Jo,NaN,Manly,-33.791103,151.28688,Entire home/apt,742,2,27,2023-03-25,0.85,1,282,10,PID-STRA-10013

In [28]:
df_sydney_june.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [29]:
df_sydney_june.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             2
neighbourhood_group               23451
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        5897
reviews_per_month                  5897
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           12350
dtype: int64

In [30]:
df_sydney_june.rename(columns ={
    'neighbourhood' : 'neighborhood',
    'number_of_reviews_ltm' : 'num_reviews_last_12m'
}, inplace= True)

In [31]:
df_sydney_june.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighborhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'num_reviews_last_12m', 'license'],
      dtype='object')

In [32]:
columns_to_keep = ['id', 'name', 'host_id',
       'neighborhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'num_reviews_last_12m']
df_sydney_june_selected = df_sydney_june[columns_to_keep]

In [33]:
df_sydney_june_selected.columns

Index(['id', 'name', 'host_id', 'neighborhood', 'latitude', 'longitude',
       'room_type', 'price', 'minimum_nights', 'number_of_reviews',
       'last_review', 'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'num_reviews_last_12m'],
      dtype='object')

In [34]:
df_sydney_june_selected.dtypes

id                                  int64
name                               object
host_id                             int64
neighborhood                       object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
num_reviews_last_12m                int64
dtype: object

In [35]:
# check fo mixed data types
for col in df_sydney_june_selected.columns.tolist():
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_sydney_june_selected[weird]) > 0:
    print (col)

last_review

/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/hq/_gnsfjyd47q9z3ll9llqlfpw0000gn/T/ipykernel_38122/584867646.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_sydney_june_selected[[col]].applymap(type) != df_sydney_june_selected[[col]].iloc[0].apply(type)).any(axis = 1)

In [39]:
# Convert 'last_review' column to datetime data type with errors='coerce'
parsed_dates = pd.to_datetime(df_sydney_june_selected['last_review'], errors='coerce')

# Find the unique data types in the parsed dates
unique_data_types = parsed_dates.apply(type).unique()

print("Unique data types in the 'last_review' column after parsing:")
for data_type in unique_data_types:
    print(data_type)

Unique data types in the 'last_review' column after parsing:
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>

In [43]:
# Convert 'last_review' column to datetime data type with errors='coerce'
parsed_dates = pd.to_datetime(df_sydney_june_selected['last_review'], errors='coerce')

# Count the number of NaTType values
num_nat_values = parsed_dates.isna().sum()

print("Number of NaTType values in the 'last_review' column:", num_nat_values)

Number of NaTType values in the 'last_review' column: 5897

I checked it and the other data type is for the missing data, I have now 3 options:
Remove them, impute them, or create a flag
for the reason I explained above (The '0' value in 'number_of_reviews' already serves as an implicit flag, indicating observations without any reviews.) I don't take any action.

In [45]:
df_dups = df_sydney_june_selected[df_sydney_june_selected.duplicated()]
df_dups

Empty DataFrame
Columns: [id, name, host_id, neighborhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, num_reviews_last_12m]
Index: []

# Data understanding

In [48]:
df_sydney_june_selected[['price', 'minimum_nights', 'number_of_reviews',
       'last_review', 'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'num_reviews_last_12m']].describe()

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,num_reviews_last_12m
count,23451.000000,23451.000000,23451.000000,17554.000000,23451.000000,23451.000000,23451.000000
mean,289.477549,48.506759,21.589442,0.954271,11.815658,107.756258,6.202721
std,556.278930,53.000527,50.038387,1.314375,33.929834,127.444825,13.210867
min,16.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,99.000000,2.000000,0.000000,0.060000,1.000000,0.000000,0.000000
50%,170.000000,30.000000,3.000000,0.390000,1.000000,58.000000,0.000000
75%,299.000000,90.000000,18.000000,1.400000,4.000000,180.000000,6.000000
max,32133.000000,1125.000000,942.000000,20.030000,229.000000,365.000000,237.000000